<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CriptoWallet.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>EC34BA672D8861DF00EB6C90</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EC34BB8B2D92FE6D00EB6C90</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ECAC1B0B2D93077300E4139C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
